{templateType BootstrapControls\types\Dropdown}
<div class="dropdown">
    {control button}
    <div class="dropdown-menu" aria-labelledby="{$id}">
        {foreach $items as $name=>$item}
            {control $name}
        {/foreach}
    </div>
</div>
